<div class="container">
  <h1>Semana <%= @jogo[0].semana %> </h1>
  
  <% @jogo.each do |jogo| %>
    
    <div class="card">
      <div id="time1">
        <p> <%= jogo.time1 %> </p>
        <%= image_tag(jogo.time1[0..2].downcase, height: '150', width: '150px') %>
        <p class="coin"> <%= jogo.contagem_vit1 %> <%= image_tag("coin.png", height: '15', width: '15')%> </p>
      </div>
      
      <div id="middle">
        <% if user_signed_in? %>
          <% if get_bets(current_user.id, jogo.id) %>
            <button class="btn btn-warning" disabled> Aposte </button>
          <% else %>
            <%= link_to 'Aposte', aposta_new_path(:id => jogo.id), :class => "btn btn-success" %>
          <% end %>
        <% else %>
          <%= link_to 'Aposte', new_user_session_path, :class => "btn btn-success" %>
        <% end %>
        <p class="coin" id="empate"> <%= jogo.contagem_empate %> <%= image_tag("coin.png", height: '15', width: '15')%>  </p>
      </div>
      
      <div id="time2">
        <p> <%= jogo.time2 %> </p>
        <%= image_tag(jogo.time2[0..2].downcase, height: '150', width: '150px' ) %>
        <p class="coin"> <%= jogo.contagem_vit2 %> <%= image_tag("coin.png", height: '15', width: '15')%>  </p>
      </div>
    </div>
    
  <% end %>

</div>
